.toggle-container {
    display: inline-block;
    position: relative;
    width: 60px; 
    height: 30px; 
  }
  
.toggle-checkbox {
    display: none;
  }
  
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
  }
  
.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px; 
    width: 26px; 
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; 
  }
  
.toggle-checkbox:checked + .toggle-slider {
    background-color: #2196F3; 
  }
  
.toggle-checkbox:checked + .toggle-slider:before {
    transform: translateX(30px); 
  }
  